<launch>
    <!-- Node for imu_node.py -->
    <node name="imu_node" pkg="mpu_6050_driver" type="imu_node.py" output="screen">
        <!-- Add any required ROS parameters here -->
    </node>

    <!-- Node for tf_broadcaster_imu.py -->
    <node name="tf_broadcaster_imu" pkg="mpu_6050_driver" type="tf_broadcaster_imu.py" output="screen">
        <!-- Add any required ROS parameters here -->
    </node>
</launch>
